* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}

body {min-height: 1000px;}

.tabbar {
	width: 1210px;
	height: 30px;
	background: #f1f1f1;
	line-height: 30px;
	color: #666;
	position: relative;
}

.z-arrow {display: inline-block;}

.tabbar .position {
	margin: 0px auto;
	padding: 0px 20px;
	display: inline-block;
	position: relative;
}

.position .position-target {
	display: inline-block;
	margin: 0px;
	padding: 0px 10px;
	line-height: 30px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.position:hover .position-target {
	background: white;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.position:hover .z-arrow {
	transform: rotate(180deg);
	transition: transform 0.1s;
	position: relative;
	top: 2px;
}

.position:hover:after {
	content: "";
	height: 5px;
	left: 21px;
	right: 21px;
	bottom: -2px;
	position: absolute;
	background: white;
	box-sizing: border-box;
	z-index: 99;
}

.position:hover .position-all {
	display: block;
}

.tabbar .position-all {
	width: 240px;
	height: auto;
	padding: 10px 10px;
	border: 1px solid #ddd;
	position: absolute;
	display: none;
	z-index: 99;
	background: white;
}

.tabbar .position-all li {
	float: left;
	display: inline-block;
	width: 40px;
	margin: 5px 8px;
	padding: 0px 2px;
	text-align: center;
	border-radius: 4px;
}

.position-all li:hover {
	background: #f4f4f4;
	color: #c81623;
}

.position-all .selected {
	background-color: #c81623;
	color: white;
}

.position-all .selected:hover {
	background: #c81623;
	color: white;
}

.tabbar .links {
	float: right;
	display: inline-block;
}

.links li {
	float: left;
	margin: 0px 1px;
	padding: 0px 7px;
	line-height: 30px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	position: relative;
	display: inline-block;
}

.links li a:link, .links li a:visited {
	color: #666;
}

.links li a:hover{
	color: #c81623;
}

.links .hasarrow:hover {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.links .hasarrow:hover .z-arrow {
	transform: rotate(180deg);
	transition: transform 0.1s;
	position: relative;
	top: 2px;
}

.links .hasarrow:hover:after {
	content: "";
	display: block;
	height: 1px;
	left: 1px;
	right: 1px;
	position: absolute;
	background: white;
	box-sizing: border-box;
}

.links .split {
	width: 1px;
	height: 12px;
	margin-top: 9px;
	padding: 0;
	background: #ddd;
	border: none;
}

.top-ad {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 80px;
	background-color: #ffd600;
	visibility: visible;
}

.top-ad a {
	display: inline-block;
	width: 1200px;
}

.top-ad .top-ad-pic {
	height: 80px;
    background-image: url(https://img11.360buyimg.com/da/jfs/t2842/233/1418633238/139358/77ccf8c0/573ed396Nc60afd05.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.top-ad .close-btn {
	position: absolute;
	top: 0px;
	right: 20px;
	width: 19px;
	height: 19px;
	background: url(https://img11.360buyimg.com/da/jfs/t1000/283/179661858/1201/c7c60274/5507956eN735de046.png) 0 0 no-repeat;
	cursor: pointer;
}

.logo-search-cart {
	margin: 19px auto 15px 30px;
	display: inline-block;
	width: 1210px;
}

.logo-search-cart .logo, .search, .cart {
	display: inline-block;
}

.search {
	position: relative;
	margin: 5px 100px 0px 90px;
}

.search input {
	width: 446px;
	height: 24px;
	padding: 4px;
	line-height: 24px;
	border: 2px solid #c81623;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: rgb(153,153,153);
	vertical-align: top;
}

.search>p>input:focus {
	outline: none;
}

.search>p>button:focus {
	outline: none;
}

.search>p>button {
	width: 82px;
	height: 36px;
	line-height: 1;
	background: #c81623;
	color: #fff;
	font-size: 16px;
	font-family: "microsoft yahei";
	cursor: pointer;
	border: none;
	vertical-align: top;
}

.hotword {
	margin-top: 5px;
}

.hotword a {
	margin-right: 10px;
	color: #666;
}

.hotword a:hover {
	color: #c81623;
}

.hotword .hottest {
	color: #c81623;
}

.cart-shopping {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-top: 5px;
}

.cart {
	height: 34px;
	line-height: 34px;
	padding: 0 28px 0 28px;
	background: #f9f9f9;
	border:1px solid #dfdfdf;
	position: relative;
	display: inline-block;
}

.cart-content {
	display: none;
	position: absolute;
	width: 310px;
	right: 0px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	background: #fff;
	padding: 10px 15px;
	z-index: 99;
}

.cart-content img {
	margin-left: 25px;
}

.cart-content .cart-content-text {
	display: inline-block;
	color: #666;
	vertical-align: top;
	line-height: 50px;
}

.cart-shopping:hover .cart {
	background: white;
	border-bottom: white;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.cart-shopping:hover .cart:after {
	content: "";
	display: block;
	position: absolute;
	height: 5px;
	left: 1px;
	right: 1px;
	bottom: -2px;
	z-index: 99;
	background: white;
}

.cart-shopping:hover .cart-content {
	display: block;
}

.cart .jd-icon{
	font-size: 16px;
	position: absolute;
}

.cart .z-shopcart{
	top: 5px;
	left: 18px;
	width: 18px;
	height: 16px;
	color: #c81623;
}

.cart .cart-text {
	margin: 0 10px 0 10px;
	padding: 0 2px;
	color: #666;
	cursor: pointer;
}

.cart .z-arrow-right{
	top: 5px;
	right: 8px;
}

.menu-line-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 44px;
	border-bottom: 2px solid #b1191a;
}

.menu-line {
	width: 1210px;
	margin: 0px 30px;
}

.menu-line .all-menu {
	font: 400 15px/44px "microsoft yahei";
	width: 190px;
	line-height: 44px;
	color: #fff;
	padding: 0 10px;
	background: #b1191a;
	text-align: left;
	display: inline-block;
}

.menu-line .other {
	line-height: 44px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: 400 16px/44px "microsoft yahei";
	color: #333;
}

.menu-line .other:hover {
	color: #c81623;
}

.menu-list-wrapper {
	position: relative;
	margin: 0 30px;
	width: 1210px;
}

.menu-list {
	display: inline-block;
	border-bottom: 1px solid #b61d1d;
}

.menu-list .categoryName {
	display: block;
	line-height: : 32px;
	width: 189px;
	border-left: 1px solid #b61d1d;
	color: #fff;
	background: #b61d1d;
	padding: 10px 10px;
	text-align: left;
	font-size: 12px;
}

.menu-list li:hover .categoryName {
	background: #fff;
	color: #b61d1d;
}

.menu-list li:hover .categoryName>.z-arrow-right {
	display: none;
}

.menu-list li:hover .category-content{
	display: block;
}

.menu-list>li:hover:after{
	content: "";
	width: 3px;
	top: 0px;
	bottom: 1px;
	left: 209px;
	position: absolute;
	background: white;
}

.categoryName .z-arrow-right {
	display: inline-block;
	position: absolute;
	left: 180px;
}

.category-content {
	display: none;
	position: absolute;
	overflow: scroll;
	width: 960px;
	height: 460px;
	top: 0px;
	left: 210px;
	background: #f7f7f7;
	color: black;
	border: 1px solid #b61d1d;
	border-top: none;
}

.menu-left {
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 700px;
}

.menu-left-title {
	margin: 20px 20px 10px 20px;
}

.menu-left-title a {
	line-height: 24px;
	font-size: 11px;
	margin: 5px 5px;
	padding: 0px 8px;
	background: #7c7171;
	color: white;
	position: relative;
	display: inline-block;
}

.menu-left-title a:hover {
	background: #b61d1d;
}

.menu-left-title>a>i {
	display: inline-block;
	position: relative;
	line-height: 24px;
	top: 0px;
	left: 8px;
	right: 0px;
	width: 24px;
	background: rgb(51,51,51);
	text-align: center;
}

.menu-left-list {
	display: inline-block;
	position: relative;
	width: 700px;
}

.menu-left-list .menu-item {
	display: inline-block;
	position: relative;
	margin-top: 5px;
	margin-left: 20px;
}

.menu-item>a {
	display: inline-block;
	position: relative;
	line-height: 15px;
	text-align: right;
	color: rgb(102,102,102);
	font-weight: bold;
	vertical-align: top;
	padding: 5px 5px 5px 0px;
	width: 66px;
}

.menu-item>a:hover {
	color: #c81623;
}

.menu-item>a>i {
	display: inline-block;
	position: relative;
	right: 0px;
	left: 5px;
	text-align: center;
}

.menu-item-content {
	display: inline-block;
	position: relative;
	left: 20px;
	width: 600px;
	right: 20px;
	border-bottom: 1px solid #eee;
}

.menu-item-content>li {
	display: inline-block;
}

.menu-item-content>li>a {
	color: rgb(102,102,102);
	line-height: 16px;
	padding: 0 7px;
	margin: 8px 0;
	display: inline-block;
	border-left: 1px solid rgb(221,221,221);
}

.menu-item-content>li>a:hover {
	color: #c81623;
}

